
#overlay {
    display: inline-block;
    background: inherit;
    padding:10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: #ff963967;
    border-radius: 7px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#opacity{
    height:100%;
    overflow:hidden;
    position:relative;
    z-index:10;
}